//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//           x                                                    █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <175>; // Increased slightly for reliability
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <200>; // Standard sweet spot
    require-prior-idle-ms = <125>; // <--- The magic sauce
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        poe2 {
            key-positions = <5 6 7>;
            bindings = <&tog 4>;
        };

        fps {
            key-positions = <15 16 17>;
            bindings = <&tog 6>;
        };

        fps2 {
            key-positions = <26 27 28>;
            bindings = <&tog 7>;
        };

        copy {
            key-positions = <11 13>;
            bindings = <&kp LC(C)>;
        };

        paste {
            key-positions = <12 14>;
            bindings = <&kp LC(V)>;
        };

        all {
            key-positions = <1 3>;
            bindings = <&kp LC(A)>;
        };

        undo {
            key-positions = <0 2>;
            bindings = <&kp LC(Z)>;
        };

        cut {
            key-positions = <12 10>;
            bindings = <&kp LC(X)>;
        };
    };

    macros {
        kp_dk_BLSH: kp_dk_BLSH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp NON_US_BACKSLASH>,
                <&macro_release>,
                <&kp RALT>;

            label = "KP_DK_BLSH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp Q  &kp W       &kp E        &kp R        &kp T             &kp Y            &kp U        &kp I        &kp O       &kp P
            &kp A  &mt LALT S  &mt LCTRL D  &mt LSHFT F  &mt LEFT_GUI G    &mt RIGHT_GUI H  &mt RSHFT J  &mt RCTRL K  &mt RALT L  &kp LT
&lt 5 LALT  &kp Z  &kp X       &kp C        &kp V        &kp B             &kp N            &kp M        &kp COMMA    &kp DOT     &kp LS(FSLH)  &kp_dk_BLSH
                               &kp DEL      &lt 1 TAB    &kp SPACE         &kp RET          &lt 2 ESC    &kp BSPC
            >;
        };

        layer_NAVI {
            bindings = <
                   &kp ESC    &none      &kp UP    &kp EQUAL  &kp LA(LC(N7))      &kp LA(LC(N0))  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp KP_PLUS
                   &kp LSHFT  &kp LEFT   &kp DOWN  &kp RIGHT  &kp LA(LC(N8))      &kp LA(LC(N9))  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS
&kp LS(BACKSLASH)  &kp DEL    &kp PG_UP  &kp CAPS  &kp PG_DN  &kp RS(NUMBER_8)    &kp RS(N9)      &kp N1        &kp NUMBER_2  &kp NUMBER_3  &kp KP_MULTIPLY  &kp NON_US_BACKSLASH
                                         &trans    &trans     &trans              &mo 3           &kp N0        &trans
            >;
        };

        layer_SYM {
            bindings = <
        &kp EXCL         &mt LA(LC(NUMBER_2)) AT_SIGN  &mt LA(LC(KP_NUMBER_3)) HASH  &mt LC(LA(KP_N4)) DLLR  &kp PRCNT    &kp AMPERSAND  &kp LS(N7)    &kp RS(NUMBER_0)  &kp KP_EQUAL  &kp RS(PLUS)
        &kp NON_US_HASH  &kp LS(NON_US_HASH)           &kp RA(RBKT)                  &trans                  &trans       &kp C_MUTE     &kp C_PP      &kp LS(MINUS)     &trans        &trans
&trans  &trans           &trans                        &trans                        &trans                  &trans       &kp C_VOL_DN   &kp C_VOL_UP  &kp C_PREV        &kp C_NEXT    &kp BSLH      &kp RA(EQUAL)
                                                       &trans                        &trans                  &mo 3        &trans         &trans        &trans
            >;
        };

        layer_ADJ {
            bindings = <
                &sys_reset   &bt BT_CLR  &out OUT_TOG  &bt BT_SEL 0  &bt BT_SEL 3    &trans  &kp F7  &kp F8  &kp F9  &kp F12
                &bootloader  &bt BT_NXT  &trans        &bt BT_SEL 1  &bt BT_SEL 4    &trans  &kp F4  &kp F5  &kp F6  &kp F11
&bt BT_CLR_ALL  &trans       &bt BT_PRV  &trans        &bt BT_SEL 2  &none           &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                         &kp LEFT_ALT  &kp LCTRL     &trans          &trans  &trans  &trans
            >;
        };

        layer_poe2 {
            bindings = <
              &kp TAB           &kp Q      &kp W             &kp E      &kp N1       &kp V  &trans  &trans  &none  &none
              &kp LEFT_SHIFT    &kp LC(Q)  &kp LC(W)         &kp LC(E)  &kp N2       &none  &none   &none   &none  &none
&kp LEFT_ALT  &kp LEFT_CONTROL  &kp C      &kp I             &kp P      &kp G        &none  &none   &none   &none  &none  &kp EQUAL
                                           &kp LEFT_CONTROL  &kp SPACE  &kp SPACE    &none  &none   &none
            >;
        };

        layer_dan {
            bindings = <
        &trans    &trans  &kp SEMI  &trans  &trans    &trans  &trans  &trans  &kp SQT  &trans
        &kp LBKT  &trans  &trans    &trans  &trans    &trans  &trans  &trans  &trans   &trans
&trans  &trans    &trans  &trans    &trans  &trans    &trans  &trans  &trans  &trans   &trans  &trans
                          &trans    &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_fps {
            bindings = <
              &kp TAB    &kp Q  &kp W  &kp E      &kp R        &kp Y     &kp N7  &kp N8  &kp N9  &kp L
              &kp LSHFT  &kp A  &kp S  &kp D      &kp F        &kp LGUI  &kp N4  &kp N5  &kp N6  &kp V
&kp LEFT_ALT  &kp B      &kp Z  &kp X  &kp C      &kp G        &kp T     &kp N1  &kp N2  &kp N3  &none  &kp EQUAL
                                &kp M  &kp LCTRL  &kp SPACE    &kp LGUI  &kp N0  &none
            >;
        };

        layer_FPS2 {
            bindings = <
              &kp TAB    &kp Q  &kp W  &kp E  &kp R        &kp O     &kp N7  &kp N8  &kp N9  &kp L
              &kp LSHFT  &kp A  &kp S  &kp D  &kp F        &kp LGUI  &kp N4  &kp N5  &kp N6  &none
&kp LEFT_ALT  &kp LCTRL  &kp Z  &kp X  &kp C  &kp V        &kp T     &kp N1  &kp N2  &kp N3  &none  &kp EQUAL
                                &kp M  &kp G  &kp SPACE    &kp LGUI  &kp N0  &none
            >;
        };
    };
};
